<h1>Add New Action Figure</h1>
<form action="/figures" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <!-- using the toyLines DB to prepopulate  -->
    <div class="form-group">
        <label for="toyLine">Select Toy Line</label>
        <select class="form-control" data-style="btn-info" name="toyLine" id="toyLine" style="width: 300px;">
            <optgroup label="Select Table">
                <option value="">---</option>
                <% toyLineName.forEach(function(line){ %>
                <option value="<%= line.name %>"><%= line.name %></option>
                <% }) %>
            </optgroup>
        </select>
    </div>
    <!-- using the toyLines DB to prepopulate  -->
    <div class="form-group">
        <label for="year">Select Year</label>
        <select class="form-control" id="year" name="year" style="width: 300px;">
            <option value="">----</option>
            <% toyLineName.forEach(line => { %>
            <optgroup label="<%= line.name %>">
                <% line.years.forEach(year => { %>
                <option> <%= year %> </option>
                <% }); %>
            </optgroup>
            <% }); %>
        </select>
    </div>
    <div class="form-check">
        <input type="checkbox" name="doHave" id="doHave" />
        <label for="doHave">In my collection?</label>
    </div>
    <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" id="image" name="image" value=" ">
    </div>

    <input type="submit" class="btn btn-primary">
</form>